@import "global/variables.scss";

.about__title {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.67;
  font-size: 36px;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .about {
    margin-left: 0;
    width: 651px;
  }

  .about__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: #111111;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-left: 0;
    width: 1160px;
  }
}
