@import "global/variables.scss";

.about-list {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 0;
  list-style: none;
}

.about-list__item {
  margin-bottom: -2px;
}

.about-list__item-text {
  width: 194px;
  padding-left: 80px;
  position: relative;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.29;
  color: #444444;
}

.about-list__item-text::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}

.about-list__item-text--leaf::after,
.about-list__item-text--powder::after,
.about-list__item-text--dining::after,
.about-list__item-text--clock::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.about-list__item-text--leaf::after {
  background-image: url("../img/advantage-leaf@1x.png");
}

.about-list__item-text--powder::after {
  background-image: url("../img/advantage-powder@1x.png");
}

.about-list__item-text--dining::after {
  background-image: url("../img/advantage-dining@1x.png");
}

.about-list__item-text--clock::after {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: $tablet-width) {
  .about-list {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }

  .about-list__item {
    position: relative;
    width: 206px;
    margin-right: 177px;
    margin-bottom: 214px;
    position: relative;
  }

  .about-list__item:last-child {
    margin-bottom: 0;
  }

  .about-list__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .about-list__item-text {
    width: 273px;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .about-list__item:nth-child(even) {
    width: 245px;
    margin-right: 0;
  }

  .about-list__item-text::before {
    content: "";
    position: absolute;
    top: -112px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: #68b738;
  }

  .about-list__item-text--leaf::after,
  .about-list__item-text--powder::after,
  .about-list__item-text--dining::after,
  .about-list__item-text--clock::after {
    content: "";
    position: absolute;
    top: -98px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .about-list__item-text--leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  .about-list__item-text--powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  .about-list__item-text--dining::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  .about-list__item-text--clock::after {
    background-image: url("../img/advantage-clock@1x.png");
  }

  .about-list__item--leaf::after,
  .about-list__item--powder::after,
  .about-list__item--dining::after,
  .about-list__item--clock::after {
    content: "1";
    top: -137px;
    left: 116px;
    position: absolute;
    z-index: -1;
    font-weight: 400;
    font-size: 281px;
    line-height: 281px;
    font-family: "Oswald","Arial",sans-serif;
    color: #f2f2f2;
  }

  .about-list__item--powder::after {
    content: "2";
  }

  .about-list__item--dining::after {
    content: "3";
  }

  .about-list__item--clock::after {
    content: "4";
  }
}

@media (min-width: $desktop-width) {
  .about-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .about-list__item {
    width: 244px;
    margin-bottom: 0;
  }

  .about-list__item-text {
    position: relative;
    padding-top: 154px;
    padding-left: 0;
    width: 245px;
    font-size: 16px;
    line-height: 1.5;
  }

  .about-list__item:not(:last-child) {
    margin-right: 79px;
  }

  .about-list__item-text::before {
    content: "";
    position: absolute;
    top: 42px;
    left: -3px;
    width: 80px;
    height: 80px;
    background-color: #68b738;
  }

  .about-list__item-text--leaf::after,
  .about-list__item-text--powder::after,
  .about-list__item-text--dining::after,
  .about-list__item-text--clock::after {
    content: "";
    position: absolute;
    top: 57px;
    left: 13px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .about-list__item-text--leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  .about-list__item-text--powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  .about-list__item-text--dining::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  .about-list__item-text--clock::after {
    background-image: url("../img/advantage-clock@1x.png");
  }

  .about-list__item--leaf::after,
  .about-list__item--powder::after,
  .about-list__item--dining::after,
  .about-list__item--clock::after {
    content: "1";
    top: 19px;
    left: 111px;
    position: absolute;
    z-index: -1;
    font-weight: 400;
    font-size: 281px;
    line-height: 281px;
    font-family: "Oswald","Arial",sans-serif;
    color: #f2f2f2;
  }

  .about-list__item--powder::after {
    content: "2";
  }

  .about-list__item--dining::after {
    content: "3";
  }

  .about-list__item--clock::after {
    content: "4";
  }
}
