.about {
  margin-left: 20px;
}

.about__title {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.67;
  font-size: 36px;
  color: #111111;
}

.about-list {
  padding-left: 0;
  list-style: none;
}

.about-list__item-text {
  width: 199px;
  font-size: 14px;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.29;
  font-size: 14px;
  color: #444444;
}
