@import "global/variables.scss";

.catalog-list {
  padding-left: 0;
  list-style: none;
}


@media (min-width: $tablet-width) {
  .catalog-list {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog-list__item {
    box-sizing: border-box;
    width: 324px;
    margin-bottom: 80px;
    padding-bottom: 49px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    flex-direction: row;
  }

  .catalog-list__item {
    width: 245px;
    margin-bottom: 41px;
  }
}
