@import "global/variables.scss";

.catalog-list {
  padding-left: 0;
  list-style: none;
}


@media (min-width: $tablet-width) {
  .catalog-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .catalog-list__item {
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    flex-direction: row;
  }

  .catalog-list__item {
    width: 20.08%;
    margin-bottom: 70px;
  }
}
