@import "global/variables.scss";

.catalog {
  margin-bottom: 21px;
  overflow-x: hidden;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin: 0 auto;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 0;
  }
}
