@import "global/variables.scss";

.contacts {
  position: relative;
  background-color: #ffffff;
}

.contacts--form,
.contacts--catalog {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  padding-bottom: 25px;
  justify-content: space-between;
  display: flex;
}

.contacts__wrapper-form,
.contacts__wrapper-catalog {
  padding-top: 28px;
  padding-bottom: 25px;
  justify-content: space-between;
  display: flex;
}

.contacts__partners {
  width: 124px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
}

.contacts__adress,
.contacts__spb {
  width: 140px;
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 1.43;
  letter-spacing: normal;
  color: #444444;
}

.contacts__map {
  position: relative;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
  height: 370px;
  width: 100%;
  background-size: cover;
  background-position-y: -30px;
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: 139px;
  left: 40%;
  width: 62px;
  height: 62px;
  background: url("../img/map-pin.png") no-repeat;
  background-size: contain;
}

.contacts__map iframe {
  display: block;
  width: 100%;
  height: 370px;
  border: 0;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .contacts__map {
    background: url("../img/bg-map-mobile@2x.png") no-repeat;
    background-size: cover;
    background-position-y: -30px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 0;
    position: relative;
    background-color: #ffffff;
  }

  .contacts--catalog,
  .contacts--form {
    background-color: #f2f2f2;
  }

  .contacts__wrapper-form,
  .contacts__wrapper,
  .contacts__wrapper-catalog {
    max-width: 630px;
    padding-right: 5px;
    padding-top: 65px;
    padding-bottom: 58px;
    justify-content: space-between;
  }

  .contacts__wrapper-catalog {
    padding-top: 63px;
  }

  .contacts__partners {
    padding-left: 4px;
    padding-top: 2px;
    width: 154px;
    font-size: 20px;
    line-height: 1.25;
  }

  .contacts__form {
    padding-top: 1px;
  }

  .contacts__br {
    padding-right: 34px;
  }

  .contacts__adress {
    padding-bottom: 19px;
  }

  .contacts__adress,
  .contacts__spb {
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 1.25;
  }

  .contacts__map {
    position: relative;
    width: 100%;
    height: 400px;
    background: url("../img/bg-map-tablet@1x.png") no-repeat 100%;
    background-size: cover;
  }

  .contacts__map::before {
    top: 146px;
    left: 324px;
    width: 120px;
    height: 118px;
  }

  .contacts__map iframe {
    height: 400px;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .contacts__map {
      background: url("../img/bg-map-tablet@2x.png") no-repeat 100%;
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    margin-bottom: 0;
  }

  .contacts__wrapper-form,
  .contacts__wrapper-catalog,
  .contacts__wrapper {
    position: absolute;
    top: 96px;
    left: 62px;
    width: 570px;
    padding-top: 64px;
    padding-right: 88px;
    padding-bottom: 58px;
    padding-left: 76px;
    z-index: 1;
    box-sizing: border-box;
    background-color: #ffffff;
    justify-content: space-between;
  }

  .contacts__partners {
    padding: 0;
    width: 154px;
  }

  .contacts__adress,
  .contacts__spb {
    text-align: left;
  }

  .contacts__map {
    position: relative;
    width: 100%;
    height: 400px;
    background: url("../img/bg-map-desktop@1x.png") no-repeat 48%;
    background-size: cover;
  }

  .contacts__map::before {
    top: 151px;
    left: 70.4%;
    width: 124px;
    height: 124px;
  }

  .contacts__map iframe {
    height: 400px;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .contacts__map {
      background: url("../img/bg-map-desktop@2x.png") no-repeat 48%;
      background-size: cover;
    }
  }
}
