@import "global/variables.scss";

.example-cat {
  background-color: #f2f2f2;
}

.example-cat__title {
  padding-left: 20px;
  margin: 0;
  padding-top: 22px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: #111111;
}

.example-cat__text {
  margin: 0;
  padding-top: 22px;
  padding-left: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .example-cat {
    background-color: #ffffff;
  }

  .example-cat__title {
    padding-left: 0;
    font-size: 60px;
    line-height: 1;
  }

  .example-cat__text {
    padding-left: 0;
    width: 676px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .example-cat {
    width: 100%;
    background: linear-gradient(to bottom, #ffffff 19%, #f2f2f2 0%);
  }

  .example-cat__wrap {
    position: relative;
    display: flex;
  }

  .text-cat {
    width: 450px;
  }

  .example-cat__stats {
    display: inline;
  }

  .example-cat__title {
    margin-bottom: 50px;
  }

  .example-cat__text {
    padding-left: 111px;
    padding-top: 76px;
    padding-bottom: 71px;
    width: 431px;
  }
}
