@import "global/variables.scss";

.example-cat {
  background-color: #f2f2f2;
}

.example-cat__title {
  padding-left: 20px;
  margin: 0;
  padding-top: 22px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: #111111;
}

.example-cat__text {
  margin: 0;
  padding-top: 22px;
  padding-left: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .example-cat {
    background-color: #ffffff;
    width: 680px;
  }

  .example-cat__title {
    font-size: 60px;
    line-height: 1;
  }

  .example-cat__text {
    width: 676px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .example-cat {
    width: 1160px;
  }

  .example-cat__title {
    padding-left: 0;
  }

  .example-cat__text {
    padding-left: 0;
  }
}
