@import "global/variables.scss";

.example-cat {
  background-color: #f2f2f2;
}

.example-cat__title {
  padding-top: 17px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: #111111;
}

.example-cat__text {
  width: 279px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .example-cat {
    padding-bottom: 26px;
    background: linear-gradient(to bottom, #ffffff 55%, #f2f2f2 55%);
    background-color: #ffffff;
  }

  .example-cat__title {
    margin: auto;
    padding-bottom: 42px;
    padding-top: 0;
    padding-left: 0;
    font-size: 60px;
    line-height: 1;
  }

  .example-cat__text {
    padding-left: 0;
    padding-bottom: 37px;
    width: 676px;
    font-size: 16px;
    line-height: 1.5;
  }

  .example-cat__stats {
    display: flex;
    margin-bottom: 246px;
  }
}

@media (min-width: $desktop-width) {
  .example-cat {
    width: 100%;
    background: linear-gradient(to bottom, #ffffff 23%, #f2f2f2 22%);
  }

  .example-cat__wrap {
    position: relative;
    display: flex;
  }

  .text-cat {
    flex-direction: column;
    width: 46.84%;
  }

  .example-cat__stats {
    display: inline;
  }

  .example-cat__title {
    padding-left: 0;
    padding-bottom: 0;
    margin: auto;
  }

  .example-cat__text {
    padding-left: 0;
    padding-top: 147px;
    padding-bottom: 68px;
    width: 431px;
  }
}
