@import "global/variables.scss";

.extra-list__wrapper {
  margin-bottom: 22px;
}

.extra-list__title {
  margin-top: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #222222;
}

.extra-list__properties {
  margin-bottom: -9px;
}

.extra-list__properties-text {
  padding-right: 0;
  width: 231px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #444444;
}

.extra-list__properties-value {
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  text-align: right;
  color: #444444;
}

.extra-list__button {
  padding-left: 111px;
  padding-right: 108px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
}

.extra-list__button:hover {
  background-color: #5eaa2f;
}

.extra-list__button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .extra-list__wrapper {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .extra-list__properties-text {
    padding-right: 39px;
    text-align: right;
    font-size: 16px;
    line-height: 1.25;
  }

  .extra-list__title {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1;
  }

  .extra-list__properties {
    width: 239px;
  }

  .extra-list__properties-value {
    width: 73px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.25;
  }

  .extra-list__button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 276px;
    padding-right: 294px;
  }
}

@media (min-width: $desktop-width) {
  .extra-list__wrapper {
    width: 617px;
    margin-bottom: 20px;
  }

  .extra-list__title {
    margin-top: 27px;
    margin-bottom: 4px;
  }

  .extra-list__properties {
    top: 5px;
    position: relative;
    width: 295px;
    margin-left: 0;
  }

  .extra-list__properties-text {
    width: 244px;
    padding-right: 53px;
    text-align: left;
  }

  .extra-list__properties-value {
    width: 54px;
    text-transform: uppercase;
    text-align: left;
  }

  .extra-list__button {
    flex-grow: unset;
    width: 75px;
    margin: -1px 0 0;
    padding-left: 93px;
    padding-right: 77px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
