.extra-products {
  padding-left: 20px;
  margin-bottom: 33px;
}

.extra-products__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #111111;
}

.extra-products__list {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  list-style: none;
}

.extra-products__gift {
  margin: 0;
  padding-left: 55px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  width: 225px;
  height: 289px;
}

@media (min-width: $tablet-width) {
  .extra-products__title {
    font-size: 36px;
    line-height: 1;
  }

  .extra-products__gift {
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    width: 100%;
  }
}
