.extra-products__title {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #111111;
}

.extra-products__list {
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.extra-products__gift {
  margin-left: 20px;
  margin-top: 57px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  width: 280px;
  height: 289px;
}
