.fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  border: none;
  display: flex;
}

.fieldset__list {
  margin: 0;
  padding: 0;
}

.fieldset__list-checkbox {
  padding-left: 0;
}

.fieldset__item {
  display: flex;
  margin-bottom: 15px;
  align-items: baseline;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
}

.fieldset__input {
  flex-grow: 1;
  min-height: 39px;
  padding-left: 14px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.13;
  color: #444444;
}

.fieldset__label {
  padding-right: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  text-transform: uppercase;
}

.fieldset__legend {
  width: 181px;
  margin-bottom: 33px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: #111111;
}

.fieldset__comment {
  margin: 0;
  margin-bottom: 33px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: #111111;
}

.fieldset__textarea {
  width: 260px;
  height: 150px;
  padding-left: 16px;
  padding-top: 15px;
  resize: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  color: #444444;
}

.fieldset__add {
  margin-bottom: 39px;
}

.fieldset__item-profile {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .fieldset__label {
    font-size: 20px;
    line-height: 1;
    color: #222222;
  }

  .fieldset__input {
    font-size: 20px;
    line-height: 1;
  }

  .fieldset__legend {
    width: 100%;
    font-size: 36px;
    line-height: 1;
  }

  .fieldset__textarea {
    width: 610px;
    font-size: 20px;
    line-height: 1.5;
  }

  .fieldset__list-checkbox {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .fieldset__owner {
    width: 100%;
  }

  .fieldset__list--owner {
    display: flex;
    width: 100%;
  }

  .fieldset__item--owner {
    width: 100%;
    margin-right: 78px;
  }

  .fieldset__item--owner:last-child {
    margin-right: 0;
  }

  .fieldset__textarea--owner {
    width: 1200px;
  }
}
