@import "global/variables.scss";

.footer {
  background-color: #f2f2f2;
}

.footer__logo-image {
  padding-top: 39px;
  padding-left: 96px;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .footer__logo-image {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 100%;
    justify-content: space-around;
  }
}
