@import "global/variables.scss";

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: #f2f2f2;
}

.footer__logo {
  padding-top: 32px;
  padding-right: 0;
  padding-bottom: 29px;
  padding-left: 0;
  text-align: center;
}

.footer__logo-image:hover {
  opacity: 0.8;
}

.footer__logo-image:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    max-width: 708px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 22px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer__logo {
    padding-top: 46px;
    padding-right: 0;
    padding-bottom: 29px;
    padding-left: 0;
  }

  .footer__logo-image {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    flex-direction: row;
    max-width: 1220px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 29px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .footer__logo {
    padding-top: 48px;
    padding-right: 0;
    padding-bottom: 29px;
    padding-left: 0;
  }
}
