@import "global/variables.scss";

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: #f2f2f2;
}

.footer__logo {
  padding: 36px 0 27px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding-bottom: 32px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer__logo-image {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    flex-direction: row;
    max-width: 1220px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 33px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
