@import "global/variables.scss";

.header__image {
  background: url("../img/logo-mobile.svg") no-repeat;
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .header__image {
    background: url("../img/logo-tablet.svg") no-repeat;
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .header-index::before {
    content: "";
    background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    left: 49.7%;
    position: absolute;
    width: 678px;
    height: 696px;
    background-position: 4%;
    margin-bottom: 80px;
  }

  .header__image {
    background: url("../img/logo-desktop.svg") no-repeat;
    width: 196px;
  }
}
