@import "global/variables.scss";

.header__image {
  background: url("../img/logo-mobile.svg") no-repeat;
  width: 191px;
  height: 39px;
  margin-left: 0;
}

@media (min-width: $tablet-width) {
  .header__image {
    background: url("../img/logo-tablet.svg") no-repeat;
    width: 174px;
    height: 59px;
  }
}
