@import "global/variables.scss";

.html-academy {
  list-style: none;
}

.html-academy__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  text-decoration: none;
  color: #444444;
}

.html-academy__text:active {
  opacity: 0.3;
}

.html-academy__item:not(:last-child) {
  margin-right: 124px;
}

.html-academy__logo {
  fill: #666666;
}

.html-academy__logo:hover {
  fill: #68b738;
}

.html-academy__logo:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .html-academy__item:not(:last-child) {
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .html-academy__item {
    padding-top: 3px;
  }

  .html-academy__item:not(:last-child) {
    margin-right: 13px;
  }
}
