@import "global/variables.scss";

.main__image {
  position: relative;
  background: url("../img/index-can-mobile@1x.png") no-repeat;
  width: 280px;
  height: 270px;
  margin-top: -139px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.main__order {
  padding-left: 72px;
  padding-right: 74px;
  padding-top: 8px;
  padding-bottom: 11px;
  margin-left: 20px;
  font-weight: 400;
  line-height: 1.29;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.main__catalog {
  font-weight: 400;
  line-height: 1.67;
  margin-left: 22px;
  font-size: 36px;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .main {
    margin-left: 40px;
  }
  .main__image {
    position: relative;
    background: url("../img/index-can-tablet@1x.jpg") no-repeat;
    height: 609px;
    width: 709px;
    margin: 0;
    margin-top: -86px;
    margin-left: -105px;
  }
  .main__order {
    top: 53%;
    left: 10%;
    position: absolute;
    display: block;
    width: 194px;
    padding-left: 25px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 11px;
    font-size: 20px;
    line-height: 1;
    background-color: #68b738;
  }
}
