.main__image {
  margin-top: -139px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.main__order {
  padding-left: 72px;
  padding-right: 74px;
  padding-top: 8px;
  padding-bottom: 11px;
  margin-left: 20px;
  font-weight: 400;
  line-height: 1.29;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.main__catalog {
  font-weight: 400;
  line-height: 1.67;
  margin-left: 22px;
  font-size: 36px;
  color: #111111;
}
