@import "global/variables.scss";

.main {
  overflow-x: hidden;
}

.main__image {
  position: relative;
  background: url("../img/index-can-mobile@1x.png") no-repeat;
  width: 280px;
  height: 270px;
  margin-top: 28px;
  margin-bottom: 14px;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .main__image {
    background: url("../img/index-can-mobile@2x.png") no-repeat;
    background-size: 280px 270px;
  }
}

.main__order {
  padding-left: 72px;
  padding-right: 74px;
  padding-top: 8px;
  padding-bottom: 11px;
  font-weight: 400;
  line-height: 1.29;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.main__order:hover {
  background-color: #5eaa2f;
}

.main__order:active {
  color: rgba(255, 255, 255, 0.3);
}

.main__catalog {
  padding-top: 15px;
  margin-bottom: 33px;
  font-weight: 400;
  line-height: 1.67;
  font-size: 36px;
  color: #111111;
}

.main__catalog::before {
  content: "";
  position: absolute;
  left: -19px;
  top: 253px;
  width: 114%;
  border-top: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .main__image {
    position: relative;
    background: url("../img/index-can-tablet@2x.jpg") no-repeat;
    background-size: 709px 609px;
    height: 609px;
    width: 708px;
    margin: 0;
    margin-top: -1px;
  }

  .main__order {
    left: 12.5%;
    position: relative;
    z-index: 1;
    top: -581px;
    display: block;
    width: 193px;
    padding: 16px 26px;
    font-size: 20px;
    line-height: 1;
    background-color: #68b738;
  }

  .main__catalog {
    padding-top: 57px;
    margin: auto;
    padding-bottom: 74px;
    font-size: 60px;
    line-height: 1;
    border: none;
  }

  .main__catalog::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main__order {
    top: -444px;
    left: 77px;
    width: 193px;
  }

  .main__image {
    top: -259px;
    left: 36.6%;
    position: relative;
    background: url("../img/index-can-desktop@2x.png") no-repeat;
    background-size: 552px 499px;
    height: 499px;
    width: 552px;
    margin: 0;
  }

  .main__catalog {
    padding-top: 75px;
    padding-bottom: 34px;
    font-size: 60px;
    line-height: 1;
    border: none;
  }

  .main__catalog::before {
    display: none;
  }
}
