@import "global/variables.scss";

.main-nav {
  padding-top: 0;
}

@media (min-width: $tablet-width) {
  .test {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding-top: 55px;
  }

  .test {
    margin-top: 0;
    justify-content: space-around;
  }
}
