.pagination {
  text-align: center;
}

.pagination__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  line-height: 1.25;
  font-size: 16px;
  color: #111111;
}

.pagination__description {
  margin-bottom: 30px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #444444;
}

.pagination__button {
  padding-left: 96px;
  padding-right: 93px;
  padding-top: 9px;
  padding-bottom: 7px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #444444;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .pagination {
    border: solid 1px #cdcdcd;
    height: 432px;
    margin-top: 72px;
    padding-left: 38px;
    padding-right: 37px;
    background: white;
  }

  .pagination__title {
    font-size: 20px;
    line-height: 1;
  }

  .pagination__description {
    font-size: 16px;
    line-height: normal;
  }

  .pagination__button {
    padding-left: 81px;
    padding-right: 79px;
    padding-top: 13px;
    padding-bottom: 11px;
    line-height: 1.25;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    height: 365px;
    margin-top: 82px;
    padding: 0;
  }

  .pagination__button {
    padding-left: 41px;
    padding-right: 39px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
}
