@import "global/variables.scss";

.pagination {
  text-align: center;
}

.pagination__title {
  position: relative;
  margin-top: 115px;
  margin-bottom: -4px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  line-height: 1.25;
  font-size: 16px;
  color: #111111;
}

.pagination__title::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 45%;
  width: 31px;
  height: 31px;
  background-image: url(../img/icon-plus.svg);
  opacity: 0.2;
  cursor: pointer;
}

.pagination__description {
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #444444;
}

.pagination__button {
  padding-left: 96px;
  padding-right: 93px;
  padding-top: 9px;
  padding-bottom: 7px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #444444;
  background-color: #f2f2f2;
}

.pagination__button:hover {
  background-color: #ebebeb;
}

.pagination__button:active {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .pagination {
    border: solid 1px #cdcdcd;
    margin-top: 58px;
    margin-bottom: 70px;
    padding-left: 36px;
    padding-right: 37px;
    background: white;
  }

  .pagination__title {
    position: relative;
    width: 179px;
    margin: auto;
    margin-top: 0;
    padding-top: 162px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1;
  }

  .pagination__title::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 34%;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon-plus.svg);
    opacity: 0.2;
  }

  .pagination__description {
    width: 228px;
    padding-left: 11px;
    margin-bottom: 97px;
    font-size: 16px;
    line-height: normal;
  }

  .pagination__button {
    width: 249px;
    padding-left: 81px;
    padding-right: 78px;
    padding-top: 9px;
    padding-bottom: 7px;
    line-height: 1.25;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 0;
  }

  .pagination__title::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 34%;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon-plus.svg);
    opacity: 0.2;
  }

  .pagination__title {
    margin-top: 103px;
    margin: auto;
  }

  .pagination__description {
    padding-left: 6px;
  }

  .pagination__button {
    padding-left: 41px;
    padding-right: 39px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
