@import "global/variables.scss";

.partner {
  display: flex;
  margin: 0;
  padding-top: 19px;
  padding-left: 0;
  padding-bottom: 18px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .partner {
    padding-top: 33px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .partner {
    padding-top: 31px;
    display: flex;
    align-items: center;
  }
}
