@import "global/variables.scss";

.product-list__item {
  margin-bottom: 28px;
}

.product-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}

.product-list__desc {
  margin: 0;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.33;
  color: #444444;
}

.product-list__value {
  text-align: right;
}

.product-list__title {
  font-weight: 400;
  line-height: 1.25;
  font-size: 16px;
  color: #111111;
}

.product-list__button {
  width: 280px;
  padding-left: 111px;
  padding-right: 108px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 21px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
}

.product-list__line {
  display: flex;
}

.product-list__wrap {
  display: flex;
}

.product-list__wrap-desc {
  display: block;
}

@media (min-width: $tablet-width) {
  .product-list__wrap {
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-list__title {
    width: 130px;
    padding-top: 164px;
    padding-left: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
  }

  .product-list__item {
    height: 388px;
    position: relative;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 82px, #f2f2f2 82px, #f2f2f2);
  }

  .product-list__link-img {
    position: absolute;
    width: 324px;
    height: auto;
    left: 3px;
    top: -48px;
  }

  .product-list__desc {
    padding-bottom: 33px;
    font-size: 16px;
    line-height: 1;
  }

  .product-list__text {
    width: 150px;
  }

  .product-list__value {
    text-align: right;
  }

  .product-list__button {
    width: 249px;
    padding-left: 95px;
    padding-right: 93px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .product-list__button {
    width: 169px;
    padding-left: 55px;
    padding-right: 53px;
    padding-top: 13px;
    padding-bottom: 12px;
    margin-left: 53px;
  }

  .product-list__item {
    width: 245px;
    height: 431px;
    background: #f2f2f2;
    margin-bottom: 142px;
    margin-right: 80px;
  }

  .product-list__wrap {
    width: 250px;
    height: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
