@import "global/variables.scss";

.product-list__item {
  margin-bottom: 41px;
}

.product-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}

.product-list__desc {
  margin: 0;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.33;
  color: #444444;
}

.product-list__value {
  text-align: right;
}

.product-list__title {
  width: 74px;
  font-weight: 400;
  line-height: 1.25;
  font-size: 16px;
  color: #111111;
}

.product-list__button {
  width: 280px;
  padding-left: 111px;
  padding-right: 108px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
}

.product-list__line {
  display: flex;
}

.product-list__wrap {
  padding-bottom: 3px;
  display: flex;
}

.product-list__wrap-desc {
  display: block;
}

@media (min-width: $tablet-width) {
  .product-list__wrap {
    width: 324px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-list__link-img {
    position: relative;
    top: 14px;
    left: -39px;
    width: 246px;
    height: 163px;
    margin-bottom: 60px;
  }

  .product-list__link-img--big {
    top: -18px;
    height: 165px;
  }

  .product-list__img {
    position: absolute;
  }

  .product-list__desc {
    width: 324px;
    box-sizing: border-box;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 33px;
    font-size: 16px;
    line-height: 1;
    text-align: left;
  }

  .product-list__title {
    margin: auto;
    padding-bottom: 27px;
    width: 130px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
  }

  .product-list__line {
    padding-bottom: 16px;
  }

  .product-list__item {
    position: relative;
    background: linear-gradient(to bottom, #ffffff 12%, #f2f2f2 10%);
  }

  .product-list__text {
    display: flex;
    width: 157px;
  }

  .product-list__value {
    text-align: right;
  }

  .product-list__button {
    width: 249px;
    margin-left: 37px;
    padding-left: 94px;
    padding-right: 94px;
  }
}

@media (min-width: $desktop-width) {
  .product-list__button {
    width: 169px;
    padding-left: 55px;
    padding-right: 53px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 35px;
  }

  .product-list__item {
    width: 245px;
    background: linear-gradient(to bottom, #ffffff 19%, #f2f2f2 5%);
    margin-bottom: 142px;
  }

  .product-list__link-img {
    top: 54px;
    left: -2px;
    margin-bottom: 99px;
  }

  .product-list__link-img--big {
    top: 18px;
  }

  .product-list__wrap {
    width: 245px;
    display: flex;
    padding-bottom: 33px;
    align-items: center;
  }

  .product-list__desc {
    width: 236px;
    padding-bottom: 2px;
  }

  .product-list__line {
    justify-content: space-between;
  }

  .product-list__text {
    width: 50px;
  }

  .product-list__value {
    text-align: right;
  }
}
