@import "global/variables.scss";

.programs {
  margin-bottom: -6px;
}

@media (min-width: $tablet-width) {
  .programs {
    margin-top: -52px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    margin-bottom: 44px;
  }
}
