@import "global/variables.scss";

.programs-list {
  padding-top: 33px;
  padding-left: 0;
}

.programs-list__item {
  margin-bottom: 15px;
  padding: 33px 20px 15px;
  list-style: none;
  background-color: #f2f2f2;
}

.programs-list__item:nth-last-child(odd) {
  margin-top: -4px;
}

.programs-list__item-title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.54;
  color: #111111;
}

.programs-list__item-description {
  padding-bottom: 44px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.29;
  font-size: 14px;
  color: #444444;
}

.programs-list__item-catalog {
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .programs-list {
    position: relative;
    padding-right: 0;
    justify-content: space-between;
    flex-direction: column;
  }
  .programs-list__item {
    margin-bottom: 30px;
  }

  .programs-list__item-title {
    font-size: 36px;
    line-height: 1.03;
    text-align: left;
    color: #111111;
  }

  .programs-list__item-description {
    margin-right: 37%;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }

  .programs-list__item-catalog {
    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: #111111;
  }
}

@media (min-width: $desktop-width) {
  .programs-list {
    max-width: 1300px;
    margin: auto;
    width: auto;
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .programs-list__item {
    padding: 50px 50px 60px;
  }

  .programs-list__item-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.03;
  }

  .programs-list__item-description {
    width: 462px;
    font-size: 16px;
    line-height: 1.5;
  }
}
