@import "global/variables.scss";

.site-list {
  text-align: center;
  padding-left: 0;
  display: block;
  list-style: none;
}

.site-list__title {
  display: block;
  padding-top: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #111111;
  cursor: pointer;
}

.site-list__title:hover {
  opacity: 0.6;
}

.site-list__title:active {
  opacity: 0.3;
}

.site-list__item {
  margin-bottom: 22px;
}

.site-list__item::before {
  content: "";
  position: absolute;
  left: -19px;
  width: 114%;
  border-top: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .site-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .site-list__title {
    padding-top: 11px;
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.39;
    width: auto;
    margin: 0;
  }

  .site-list__item {
    margin-bottom: 0;
    margin-top: 1px;
  }

  .site-list__item--active {
    padding-bottom: 8px;
    border-bottom: 2px solid #68b738;
  }

  .site-list__item:not(:last-child) {
    margin-right: 35px;
  }

  .site-list__item::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    text-align: center;
  }

  .site-list__title {
    padding-top: 10px;
    font-size: 20px;
  }

  .site-list__item--active-index {
    padding-bottom: 11px;
    border-bottom: 2px solid #ffffff;
  }

  .index {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: white;
  }

  .site-list__item::before {
    display: none;
  }
}
