@import "global/variables.scss";

.social-list {
  width: 280px;
  display: flex;
  margin: 0;
  padding-bottom: 19px;
  padding-top: 22px;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social-list__item {
  width: 20px;
}

.social-list__item:not(:last-child) {
  margin-right: 38px;
}

.social-list__icon-vk {
  fill: #666666;
  height: 13px;
  width: 21px;
}

.social-list__icon-ig {
  fill: #666666;
  height: 16px;
  width: 17px;
}

.social-list__icon-fb {
  fill: #666666;
  height: 19px;
  width: 10px;
}

@media (min-width: $tablet-width) {
  .social-list {
    justify-content: space-between;
    width: 101px;
    padding-top: 24px;
    padding-left: 0;
    border: none;
  }

  .social-list__item {
    margin-top: 9px;
  }

  .social-list__item:not(:last-child) {
    margin-right: 34px;
  }

  .social-list__icon-vk,
  .social-list__icon-ig,
  .social-list__icon-fb {
    height: inherit;
    width: inherit;
  }

  .social-list__icon-vk:hover,
  .social-list__icon-ig:hover,
  .social-list__icon-fb:hover {
    fill: #68b738;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    width: 129px;
    padding-left: 24px;
    padding-top: 25px;
    border: none;
  }

  .social-list--form,
  .social-list--catalog {
    width: 123px;
    padding-left: 24px;
    padding-top: 22px;
  }

  .social-list__item {
    margin-top: 9px;
    margin-right: 28px;
  }

  .social-list__item:last-child {
    margin-right: 0;
  }

  .social-list__icon-vk {
    width: 30px;
    height: 16px;
  }

  .social-list__icon-ig {
    width: 23px;
    height: 23px;
  }

  .social-list__icon-fb {
    width: 14px;
    height: 28px;
  }

  .social-list__icon-vk:hover,
  .social-list__icon-ig:hover,
  .social-list__icon-fb:hover {
    fill: #68b738;
  }

  .social-list__icon-vk:active,
  .social-list__icon-ig:active,
  .social-list__icon-fb:active {
    opacity: 0.3;
  }
}
