@import "global/variables.scss";

.stats-slim__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style: none;
}

.stats-slim__value {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.stats-slim__text {
  width: 54px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #444444;
}

.stats-slim__description {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.43;
  text-align: center;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .stats-slim__list {
    display: inline-flex;
    margin-right: 169px;
  }

  .stats-slim__item:not(:last-child) {
    margin-right: 36px;
  }

  .stats-slim__value {
    font-size: 30px;
    line-height: 1.23;
  }

  .stats-slim__text {
    font-size: 14px;
  }

  .stats-slim__description {
    display: inline-flex;
    margin: 0;
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .stats-slim__list {
    padding-left: 110px;
  }

  .stats-slim__description {
    z-index: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 40px;
  }
}
