@import "global/variables.scss";

.stats-slim__list {
  display: flex;
  margin: 0;
  margin-bottom: -9px;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.stats-slim__value {
  top: -6px;
  margin: 0;
  margin-top: 15px;
  position: relative;
  width: 122px;
  height: 41px;
  padding: 13px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald","Arial",sans-serif;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  color: #111111;
}

.stats-slim__text {
  position: relative;
  top: -14px;
  display: block;
  width: 81px;
  margin: 0 auto;
  padding: 0 5px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial",sans-serif;
  text-transform: lowercase;
  background-color: #f2f2f2;
  text-align: center;
  color: #444444;
}

.stats-slim__wrap {
  display: flex;
  padding-left: 48px;
}

.stats-slim__description,
.stats-slim__cost {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.43;
  text-align: center;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .stats-slim__wrap {
    display: block;
    padding-left: 0;
  }
  .stats-slim__list {
    display: inline-flex;
    margin-right: 169px;
    margin-bottom: 0;
  }

  .stats-slim__item:not(:last-child) {
    margin-right: 43px;
  }

  .stats-slim__value {
    padding-top: 15px;
    width: 158px;
    padding-bottom: 13px;
    font-size: 30px;
    line-height: 1.23;
  }

  .stats-slim__text {
    width: 127px;
    font-size: 14px;
    background-color: #ffffff;
  }

  .stats-slim__description,
  .stats-slim__cost {
    display: inline-flex;
    margin: 0;
    text-align: right;
    font-size: 20px;
    line-height: 1;
  }

  .stats-slim__description {
    width: 174px;
    padding-top: 26px;
  }

  .stats-slim__cost {
    padding-top: 9px;
    padding-left: 86px;
    width: 91px;
  }
}

@media (min-width: $desktop-width) {
  .stats-slim__list {
    margin-bottom: 0;
  }

  .stats-slim__wrap {
    display: flex;
    width: 468px;
  }

  .stats-slim__description,
  .stats-slim__cost {
    z-index: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 0;
  }

  .stats-slim__cost {
    padding-top: 26px;
    padding-left: 0;
    width: inherit;
  }

  .stats-slim__text {
    top: -14px;
    background-color: #f2f2f2;
  }

  .stats-slim__value {
    margin-top: 0;
    padding-top: 16px;
    height: 42px;
  }
}
