@import "global/variables.scss";

.switch-cat__text {
  display: inline;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #111111;
}

.switch-cat__toggle {
  padding-top: 35px;
  padding-bottom: 38px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .switch-cat__img {
    position: relative;
    height: 517px;
    width: 338px;
    padding-right: 0;
  }

  .switch-cat__img--before {
    position: absolute;
    top: -30%;
  }
}

@media (min-width: $desktop-width) {
  .switch-cat__img--before {
    position: absolute;
    top: -22%;
  }
}
